<?xml version="1.0" encoding="iso-8859-1" standalone="yes"?>
<config>

<helpers lib="alaska-software.xpp-model-framework.lib"
         lib="accountmgmt.lib"
         dll="alaska-software.xpp-model-framework.dll"
         dll="accountmgmt.dll"
         dll="controllers.dll" />

<webcontrollers>
   <controller class="MainPageController" views="\views\" binary="\helpers\controllers.dll" />
   <controller class="UserController" views="\views\" binary="\helpers\controllers.dll" />
   <controller class="EmployeeController" views="\views\" binary="\helpers\controllers.dll" />
   <controller class="HolidayController" views="\views\" binary="\helpers\controllers.dll" />
   <controller class="BankHolidayController" views="\views\" binary="\helpers\controllers.dll" />
</webcontrollers>

<info author   = "SP"
      version  = "0.1"
      copyright= "Borislav Dobrev"
      title    = "HR Vacation"
      header   = "I really love Xbase++" />

<connection server   = "localhost"
            uid      = "postgres"
            pwd      = "postgres"
            database = "hr-vacation"
            name     = "hr-vacation" />

</config>
